.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hijo {
    background-attachment: fixed;
    background-color:rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    width: auto;
    box-sizing: border-box;
    text-align: center;
    color: rgb(206, 206, 206)
}