.container__details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    padding-top: 35px;
}

.hijo {
    background-color: rgb(27, 59, 89);
    height: auto;
    width: 1000px;
    border-radius: 7px; 
    color: #edf0f1;

}

.steps {
    padding-top: 10px;
    margin-left: 20px;
    width: 970px;
}

.first__line {
    display: flex;
    padding-left: 90px;
    margin-top: 20px;
}

.img__details {
    margin-right: 50px;
}

.detail__title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,136,169,1);
    height: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
    border-width: 2px;
    border-style: solid;
    border-radius: 7px;
    border-color: rgba(0,136,169,1);
    height: auto;
    text-align: center;
    width: 500px;
}

.healthy__score {
    width: 280px;
}

.diet__type {
    width: 600px;
}

.button__home {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 270px;
    color: oldlace;
}