* {
    font-family: sans-serif;
}

body {
    background-color: #24252A;
}

nav {
    display: flex;
    justify-content:space-evenly;
    margin-top: 35px;
}

img {
    border-radius: 7px;
    cursor: pointer;
}

.paginado {
    display: flex;
}

input, button, select, option {
    border-radius: 7px;
    border: none;
    cursor: pointer;
    height: 23px;
}

button {
    background-color: rgba(0,136,169,1);
    color: #ffff;
    border:none;
    transition: all 0.3s ease 0s;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    transition: all 0.3s ease 0s;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.align-card {
    background-color: rgba(0,136,169,1);
    height: 325px;
    width: 300px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    text-align: center;
    color: #edf0f1;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.align-card:hover {
    background-color: rgba(0,136,169,0.7)
}

button:hover {
    background-color: rgba(0,136,169,0.7)
}
