nav {
    display: flex;
    justify-content:space-evenly;
    margin-top: 18px;
}

img {
    border-radius: 7px;
}

.paginado {
    display: flex;
}

input, button, select, option {
    border-radius: 7px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;

}

.align-card {
    background: chocolate;
    height: 350px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

