.paginado {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.numbers {
    color: white;
    background-color:rgb(55, 47, 47);
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.numbers:hover {
    color: rgb(55, 47, 47);
    background-color: white;
}

.numbers:active {
    color: rgb(55, 47, 47);
    background-color: white;
}