.paginado {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.numbers {
    color: white;
    background-color: rgba(0,136,169,1);
    width: 20px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
    align-items: center;
    transition: all 0.3s ease 0s;

}

.numbers:hover {
    background-color: rgba(0,136,169,0.7);
}
