form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 59, 89);
    border-radius: 7px;
    height: auto;
    width: 600px;
    margin-left: 390px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.input__div {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-top: 10px;
}

label, h1 {
    color: #edf0f1
}

h1 {
    margin-left: 570px;
    padding-bottom: 10px;
    font-family: sans-serif;
}

.error__color {
    color: red
}

.button__ {
    margin-left: 30px;
}

.div__form {
    padding-bottom: 50px;
}

input:focus {
    border: none;
}

.select__color {
    color: #edf0f1;
    font-family: sans-serif;
}