.div-home {
    background-color: rgba(79, 76, 76, 0.7);
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7%;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 5%;
    left: 31%;
}
body {
    font-family: monospace;
}

label{
    color: #fff
}

.error {
    color: red;
}

.input-div {
    width: 100px;
}




.background {
    background-image: url(../shutterstock_1827672272.jpg);
    /* background-size: 100vw 100vh; */
}

h1 {
    color: #fff;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}

.diets {
    color: white
}

.volver {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

.div-form {
    position: absolute;
    top: 5%;
    left: 31%;
    margin-top: 30px;
    width: 1000%;
}
